:root {

    /* Main Colors */
    --color-text: #0D0E0E;
    --color-text-light: #ffffff;
    --color-text-grey: #8F9296;
    --color-primary: #487AFF;
    --color-primary-bg: #487AFF10;
    --color-body-background: #E5E5E5;
    --color-background: #F0F2F3;
    --color-background-off: #E5E5E5;

}